:root:where([data-theme="dark"]) {
  color-scheme: dark;

  --primary-color: #1a2c42;
  --link-color: #ffa7c4;

  --app-color: #cbcbcb;

  --muted: rgba(255, 255, 255, 0.38);
  --muted-foreground: oklch(70.8% 0 0);

  --content-bg: #232323;
  --bg-0: #191919;
  --bg-1: #1e1e1e;

  --misc-button-icon-color: #a7a7a7;
  --misc-button-bg: hsla(0, 0%, 78%, 0.08);
  --misc-button-hover-bg: hsla(0, 0%, 78%, 0.15);
  --misc-button-active-bg: #7d7d7d;
  --misc-button-active-color: #0e0e0e;

  --label-color: #b3b3b3;
  --label-border-color: hsla(0, 0%, 61%, 0.1);

  --tooltip-color: #181818;
  --tooltip-bg: hsla(0, 0%, 78%, 0.9);
  --tooltip-border-color: rgba(0, 0, 0, 0.1);

  /* code hike */
  --ch-border-color: #404040;
  --ch-pre-title-foreground: #cbd5e1;
  --ch-pre-title-background: #171717;
  --ch-0: dark;
  --ch-1: #8b949e;
  --ch-2: #79c0ff;
  --ch-3: #ffa657;
  --ch-4: #c9d1d9;
  --ch-5: #d2a8ff;
  --ch-6: #7ee787;
  --ch-7: #ff7b72;
  --ch-8: #a5d6ff;
  --ch-9: #ffa198;
  --ch-10: #f0f6fc;
  --ch-11: #490202;
  --ch-12: #04260f;
  --ch-13: #5a1e02;
  --ch-14: #161b22;
  --ch-15: #8b949e;
  --ch-16: #0d1117;
  --ch-17: #6e76811a;
  --ch-18: #ffffff0b;
  --ch-19: #3794ff;
  --ch-20: #264f78;
  --ch-21: #1f6feb;
  --ch-22: #010409;
  --ch-23: #30363d;
  --ch-24: #6e7681;
  --ch-25: #6e768166;
  --ch-26: #0d1117e6;
}
